body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav {
  position: fixed;
  margin-top: 8px;
  padding: 0 32px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: #222;
}

.logo h2 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #222;
  text-decoration: none;
}

.hero {
  background-image: url('./assets/mountain-and-nature.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.hero-content {
  max-width: 600px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

button {
  background-color: #ff6f00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e65100;
  outline: none;
}

#services {
  position: absolute;
  bottom: 0;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 50px 20px;
  text-align: center;
}

footer h2 {
  margin-bottom: 8px;
}

.contacts-links {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: center;
}

.contact-info,
.social-links {
  width: auto;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

footer form {
  display: flex;
  flex-direction: column;
}

footer form input,
footer form textarea {
  display: block;
  height: 48px;
  width: 100%;
  padding: 8px;
  margin: 4px 0;
  border-radius: 8px;
  border: none;
  outline: none;
}

footer form button {
  background-color: #ff6f00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

footer form button:hover {
  background-color: #e65100;
}

@media only screen and (min-width: 600px) {
  footer form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  footer form input,
  footer form textarea {
    display: block;
    height: 48px;
    width: 25%;
    max-width: 25%;
    padding: 8px;
    margin-bottom: 0;
    border-radius: 8px;
    border: none;
    outline: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(#ffff00, #333);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#e65100, #333);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
